
body {
    background: #555;
}

h1 {
    background: blue;
}

.normalcy { /*REACT uses it's own names, hmm */
  background: black;
  color: white;
}

.hovercy {
  background: white;
  color: black;
}


.panels_main {
   background: red;
   font-size: 10em;
}

/*.panel_single {
   background: #777;
   font-size: 4em;

   &:hide {
      display: none;
   }

   &:hover,normal {
      display: block;
   }
}*/

.hidelinks {
   display: none;
}

.showlinks {
   display: block;
}
